<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	<script src="/assets/js/jquery-1.8.2.min.js"></script>
	<link rel="stylesheet" href="/assets/css/sinq.css" />

	<link href='http://fonts.googleapis.com/css?family=Poiret+One|Quicksand|Josefin+Sans:100,400|Raleway+Dots|Raleway:400,100|Press+Start+2P' rel='stylesheet' type='text/css'>
</head>
<body class="homepage">

	<div id="banner" style="width: 100%; background-color: #ffffff; padding-top: 100px; padding-bottom: 0px;">
		<center>
			<img src="/assets/sinq_logo.png"/>
		</center>
	</div>

	<div style="width: 100%; background-color: #ffffff; font-size: 20pt; font-style: none; font-weight: 100; font-family: 'Raleway', sans-serif;">
		<center>
			<h2 style="font-size: 18pt; font-style: none; font-weight: 100; font-family: 'Raleway', sans-serif;">coming soon</h2>
			<h1 style="font-style: none; font-weight: 100; font-family: 'Raleway', sans-serif;">available on mobiles devices</h1>
		</center>
	</div>

</body>
</html>